*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(54,54,54,1) 100%);}

body img{
    max-width: 70%;
    height: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

body h1{
    position:absolute;
    color: white;
    top: 2em;
    left: 2em;
    font-size: 2em;
}